.btn {
    display: inline-block;
    padding: space(.334) space(1);
    text-transform: uppercase;
    font-size: 90%;
    border: none;
}

.btn + .btn {
    margin-left: space(.5);
}

.btn.btn-primary {
    border: 1px solid $main-color;
    background-color: rgba($main-color, .2);
    border-radius: $radius;
    transition: box-shadow .1s, background-color .2s;
    @include doubleShadow($b: 2px, $r: 2px);

    &:hover, &:focus {
        @include doubleShadow($b: 3px, $r: 3px, $o: .5);
        background-color: rgba($main-color, .1667);
    }
}

.btn.btn-default {
    opacity: .6;
    transition: opacity .3s;

    &:hover {
        opacity: .8;
    }
}