
.btn {
    display: inline-block;
    padding: space(.334) space(1);
    text-transform: uppercase;
    font-size: 90%;
		border: none;
		color: inherit;
		cursor: pointer;
		background: transparent;
		
		&:focus {
			outline: none;
		}
}

.btn + .btn {
    margin-left: space(.5);
}

.btn.btn-default {
    opacity: .6;
    transition: opacity .3s;

    &:hover {
        opacity: .8;
    }
}

@each $type, $color in $types {
	.btn.btn-#{$type} {
		border: 1px solid $color;
		border-radius: $radius;
		background-color: rgba($color, .334);
		@include doubleShadow($b: 2px, $r: 2px, $c: $color);

		&:focus {
			@include doubleShadow($b: 4px, $r: 4px, $o: .5, $c: $color);
			background-color: rgba($color, .2);
		}
		&:hover {
			animation: blink-#{$type} 1s both;
		}
	}

	@keyframes blink-#{$type} {
		0% {
			background-color: rgba($color, .2);
			@include doubleShadow($b: 2px, $r: 2px, $c: $color);
		}
		10% {
			@include doubleShadow($b: 4px, $r: 4px, $o: .5, $c: $color);
			background-color: rgba($color, .1667);
		}
		22% {
			background-color: rgba($color, .2);
			@include doubleShadow($b: 2px, $r: 2px, $c: $color);
		}
		26% {
			@include doubleShadow($b: 4px, $r: 4px, $o: .5, $c: $color);
			background-color: rgba($color, .1667);
		}
		32% {
			background-color: rgba($color, .2);
			@include doubleShadow($b: 2px, $r: 2px, $c: $color);
		}
		35% {
			@include doubleShadow($b: 4px, $r: 4px, $o: .5, $c: $color);
			background-color: rgba($color, .1667);
		}
		40% {
			background-color: rgba($color, .2);
			@include doubleShadow($b: 2px, $r: 2px, $c: $color);
		}
		100% {
			@include doubleShadow($b: 4px, $r: 4px, $o: .5, $c: $color);
			background-color: rgba($color, .1667);
		}
	}
}
