.card {
    display: flex;
    flex-direction: column;
    width: 480px;
    border-radius: $radius;
    border: 1px solid $main-color;
    @include doubleShadow;
}

@each $type, $color in $types {
	.card.card-#{$type} {
    border: 1px solid $color;
		@include doubleShadow($c: $color);
		
		.card-header {
			border-bottom-color: $color;
		}
	}
}

.card + .card {
    margin-top: space(2);
}

.card > * {
    padding: space(1);
}

.card .card-header {
    border-bottom: 1px solid $main-color;
}
.card .card-title {
		font-weight: bold;
}
.card-footer {
    text-align: right;
    white-space: normal;
}