$container-width: 900px;
$space: 16px;
$radius: 5px;
$default-shadow-opacity: .4;

// Colors
// ------
$white-color: #fff;
$black-color: #000;
$main-color: #2e1fb6;
$dark-color: darken($main-color, 38%);
$success-color: #1fb640;
$warning-color: #ec8e13;
$danger-color: #b6361f;
$info-color: #12a7ec;
$pink-color: #ec12a3;
$yellow-color: #ece812;
$purple-color: #9512ec;

// Lists
// -----
$types: (
	'primary': $main-color,
	'light': $white-color,
	'dark': $dark-color,
	'success': $success-color,
	'warning': $warning-color,
	'danger': $danger-color,
	'info': $info-color,
	'pink': $pink-color,
	'yellow': $yellow-color,
	'purple': $purple-color
);

// CSS variables
// -------------
:root {
	--fluo-main-color: #{$main-color};
	--fluo-white-color: #{$white-color};
	--fluo-dark-color: #{$dark-color};
	--fluo-success-color: #{$success-color};
	--fluo-warning-color: #{$warning-color};
	--fluo-danger-color: #{$danger-color};
	--fluo-info-color: #{$info-color};
	--fluo-pink-color: #{$pink-color};
	--fluo-yellow-color: #{$yellow-color};
	--fluo-purple-color: #{$purple-color};
}
